.page-background {
  background-image: url('../img/pizza-natasha-filippovskaya.jpg');
  background-size: cover;
}

.page-header {
  color: azure;
  font-family: 'Kiwi Maru', serif;
  margin-bottom: 0;
}

.order-section-header {
  font-family: 'Roboto Slab', serif;
  padding-top: 10px;
}

.order-form {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  margin-top: 10px;
  padding: 30px;
}

.selection-label {
  font-family: 'Kiwi Maru', serif;
}

#pizzaSize {
  max-width: 400px;
}

.remove-pizza:hover {
  text-shadow: 1px 1px grey;
}

.pizza-size-display {
  font-family: 'Kiwi Maru', serif;
}

.selected-toppings-display{
  font-family: 'Kiwi Maru', serif;
  font-size: smaller;
}

#priceDisplay {
  height: 200px;
  overflow-y: auto;
}

.pizza-price {
  font-family: 'Roboto', sans-serif;
  font-weight: lightest;
  margin-right: 10px;
}

.remove-pizza {
  font-family: 'Kiwi Maru', serif;
  font-size: smaller;
}