.page-background {
  background-image: url('../img/pizza-natasha-filippovskaya.jpg');
  background-size: cover;
}

.page-header {
  color: azure;
  font-family: 'Kiwi Maru', serif;
}

.order-section-header {
  font-family: 'Roboto Slab', serif;
  padding-top: 10px;
}

.order-form {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  padding: 30px;
}

.remove-pizza:hover {
  text-shadow: 1px 1px blue;
  color: blue;
}

#pizzaSize {
  max-width: 400px;
}